Thư viện import:

Serial:
import sys
import argparse
import cv2 as cv
import numpy as np
import numba as nb
from numba import jit
from numba.typed import List
import xml.etree.ElementTree as ET
from timeit import default_timer as timer

Parallel:
import sys
import math
import argparse
import cv2 as cv
import numpy as np
import numba as nb
from numba import jit, cuda
from numba.typed import List
import xml.etree.ElementTree as ET
from timeit import default_timer as timer

Nhóm thực hiện chạy trên colab.
Toàn bộ cách chạy nằm trong report, phần 3 lập trình tuần tự và phần 4 lập trình song song.